*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font: 130% / 1.6 serif;
}

blockquote {
    font-style: oblique;
}

@media screen and (max-width: 599px) {
    body {
        font-size: 100%;
    }

    .credit {
        padding: 5px;
        text-align: center;
    }

    .credit a {
        display: block;
        background-color: #ff000050;
        padding: 20px 30%;
        border-radius: 12px;
    }
}