*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font: 130% / 1.6 serif;

    width: min(600px, calc(70% + 100px));
    margin: 0 auto;

    & blockquote {
        padding-bottom: 1rem;
    }

}

blockquote {
    font-style: oblique;
}

section#notice {
    max-width: 690px;
    margin: auto;
}

p {
    padding: 0 10px;
}

/* footnote css section */
summary {
    user-select: none;
    cursor: pointer;
}

details a {
    word-break: break-all;
}

section:has(.footnote-title) {
    margin-top: 3em;
}

.footnote-title {
    font-size: 1.6rem;
}

.footnote-redirect {
    font-style: normal;
}

.footnote-placeholder {
    font-size: 1.2rem;
}

*:target {
    transition: all 2s ease-in-out;
    background-color: hsla(60, 100%, 50%, 0.6);
}

/* link playground */
a:not(#storyBoard li a, .credit a):link {
    text-decoration: none;
    color: hsla(211, 100%, 29%, 0.9);
}

a:not(#storyBoard li a, .credit a):hover {
    text-decoration: underline;
    color: hsla(60, 100%, 11%, 0.85);
    background-color: hsla(60, 100%, 50%, 0.85);
}

a:visited {
    color: dimgrey;
}

/* layout and accessibility for mobile devices */
@media screen and (max-width: 599px) {
    body {
        font-size: 100%;
    }

    .credit {
        padding: 5px;
        text-align: center;
    }

    .credit a {
        display: block;
        background-color: #ff000050;
        padding: 20px 30%;
        border-radius: 12px;
    }

    section#notice:hover {
        padding: 0;
        background-color: transparent;
        color: #000;
    }
}