*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font: 130% / 1.6 serif;

    width: min(600px, calc(70% + 100px));
    margin: 0 auto;

    & blockquote {
        padding-bottom: 1rem;
    }
    
}

blockquote {
    font-style: oblique;
}

section#notice {
    max-width: 690px;
    margin: auto;
}

a:not(ul li a, .credit a):link {
    text-decoration: none;
    color: #007bff;
}

a:not(ul li a, .credit a):hover {
    color: cyan;
}

a:not(ul li a, .credit a):visited {
    color: dimgrey;
}

@media screen and (max-width: 599px) {
    body {
        font-size: 100%;
    }

    .credit {
        padding: 5px;
        text-align: center;
    }

    .credit a {
        display: block;
        background-color: #ff000050;
        padding: 20px 30%;
        border-radius: 12px;
    }

    section#notice:hover {
        padding: 0;
        background-color: transparent;
        color: #000;
    }
}